cachetools==6.2.0
elasticsearch==9.1.1
fastapi==0.118.1
matplotlib==3.10.6
mlflow==3.4.0
numpy==2.3.3
pandas==2.3.3
pydantic==2.11.9
pylint==4.0.2
python-box==7.3.2
python-json-logger==4.0.0
PyYAML==6.0.3
ruff==0.14.2
scikit-learn==1.7.2
scipy==1.16.2
seaborn==0.13.2
structlog==25.4.0
torch==2.8.0
tqdm==4.67.1
