cachetools==6.2.0
black==25.9.0
fastapi==0.118.1
flake8==7.3.0
isort==6.1.0
matplotlib==3.10.6
mlflow==3.4.0
numpy==2.3.3
pandas==2.3.3
pydantic==2.11.9
python-box==7.3.2
PyYAML==6.0.3
scikit-learn==1.7.2
scipy==1.16.2
seaborn==0.13.2
torch==2.8.0
tqdm==4.67.1